<!-- ==========================================
     GALLERY
========================================== -->

<section class="gallery">

    <div class="container">

        <!-- Section Header -->

        <div class="gallery-header">

            <div>

                <span class="section-subtitle">
                    Royal Gallery
                </span>

                <h2 class="section-title">
                    Moments From The Kingdom
                </h2>

            </div>

            <a href="gallery.html" class="gallery-btn">

                View Gallery

                <i class="fa-solid fa-arrow-right"></i>

            </a>

        </div>

        <!-- Gallery Grid -->

        <div class="gallery-grid">

            <div class="gallery-item large">

                <img src="images/gallery/gallery-1.jpg" alt="Gallery Image">

            </div>

            <div class="gallery-item">

                <img src="images/gallery/gallery-2.jpg" alt="Gallery Image">

            </div>

            <div class="gallery-item">

                <img src="images/gallery/gallery-3.jpg" alt="Gallery Image">

            </div>

            <div class="gallery-item">

                <img src="images/gallery/gallery-4.jpg" alt="Gallery Image">

            </div>

            <div class="gallery-item">

                <img src="images/gallery/gallery-5.jpg" alt="Gallery Image">

            </div>

        </div>

    </div>

</section>
