<!-- ==========================================
     NAVIGATION
========================================== -->

<header class="navbar">

    <div class="container">

        <nav class="nav-wrapper">

            <!-- Logo -->

            <a href="/" class="nav-brand">

                <img
                    src="images/logo/logo.png"
                    alt="Royal Palace Logo"
                    class="nav-logo">
                     <img
                    src="images/logo/logo2.png"
                    alt="Royal Palace Logo"
                    class="nav-logo">

                <div class="nav-brand-text">

                    <h3>

                        Okuokpellagbe of Okpella

                    </h3>

                    <span>

                        Official Website

                    </span>

                </div>

            </a>

            <!-- Desktop Navigation -->

            <ul class="nav-menu">

                <li>

                    <a href="/#highlights" class="nav-link">

                        Highlights

                    </a>

                </li>

                <li>

                    <a href="/#videos" class="nav-link">

                        Videos

                    </a>

                </li>

                <li>

                    <a href="/#news" class="nav-link">

                        News

                    </a>

                </li>


                <li>

                    <a href="/#gallery" class="nav-link">

                        Gallery

                    </a>

                </li>

            </ul>

            <!-- Right Side -->

            <div class="nav-actions">

                <a href="/#contact" class="contact-btn">

                    Contact Us

                </a>

                <button class="menu-toggle"
                        aria-label="Toggle Navigation">

                    <span></span>

                    <span></span>

                    <span></span>

                </button>

            </div>

        </nav>

    </div>

    <!-- Mobile Navigation -->

    <div class="mobile-nav">

        <div class="mobile-nav-content">

            <a href="#monarch" class="mobile-link">

                Monarch

            </a>

            <a href="#palace" class="mobile-link">

                Palace

            </a>

            <a href="#council" class="mobile-link">

                Royal Council

            </a>

            <a href="#news" class="mobile-link">

                News

            </a>

            <a href="#gallery" class="mobile-link">

                Gallery

            </a>

            <a href="#videos" class="mobile-link">

                Videos

            </a>

            <a href="#contact"
               class="mobile-contact-btn" >

                Contact Us

            </a>

            <div class="mobile-socials">

                <a href="#">

                    <i class="fa-brands fa-facebook-f"></i>

                </a>

                <a href="#">

                    <i class="fa-brands fa-instagram"></i>

                </a>

                <a href="#">

                    <i class="fa-brands fa-x-twitter"></i>

                </a>

                <a href="#">

                    <i class="fa-brands fa-youtube"></i>

                </a>

            </div>

        </div>

    </div>

</header>
